.App {
  text-align: center;

  &__header {
    background-color: #343a40;
    padding: 20px;
    color: white;
  }

  &__main-content {
    background-color: #495057;
    padding: 20px;
    min-height: 100vh;
    color: white;
  }
}
